---
---
@import "{{ site.theme }}";

a.btn{
    display:inline-block;
    background-color: #1d446e;
    padding: 0.6em 1.2em;
    margin: 0.5em;
    border: 0.15em solid rgba(255,255,255,0);
   窶ッorder-radius: 1em;
   窶ッox-sizing: border-box;
   窶デont-family:'Roboto',sans-serif;
   窶デont-weight: bold;
    font-color: #FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

a.btn:hover{
    border-color: rgba(255,255,255,1);
}
